@model DoAnMonLapTrinhWeb_Nhom1.Models.Xe

@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/Layoutadmin.cshtml";
}

<h1>Display</h1>

<div>
    <h4>Xe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenXe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamSanXuat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamSanXuat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaThue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaThue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhienLieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhienLieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLucPhanKhoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLucPhanKhoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hide)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
