@model IEnumerable<DoAnMonLapTrinhWeb_Nhom1.Models.LoaiXe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layoutadmin.cshtml";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Message"]
    </div>
}
<h1>Quản lý loại xe</h1>

<p>
    <a class="btn__function" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLoai)
                </td>
                <td>
                    <a class="btn__function" asp-action="Edit" asp-route-maloai="@item.MaLoai">Edit</a>
                    <a class="btn__function" asp-action="Delete" asp-route-maloai="@item.MaLoai">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
